[bumpversion]
current_version = 0.1.3

[bumpversion:file:setup.py]

[bumpversion:file:midea.py]

[bumpversion:file:custom_components.json]

[bumpversion:file:midea/client.py]
[bumpversion:file:midea/cloud.py]
[bumpversion:file:midea/command.py]
[bumpversion:file:midea/crc8.py]
[bumpversion:file:midea/device.py]
[bumpversion:file:midea/packet_builder.py]
[bumpversion:file:midea/security.py]
