name: Code Quality Checks

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  check-autopep8:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: "3.10"
    - uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-autopep8
    - run: |
        python -m pip install --upgrade pip
        pip install autopep8
    - run: autopep8 --diff --exit-code $(git ls-files '*.py')
    
  run-unittest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: "3.10"
        cache: "pip"
    - run: |
        python -m pip install --upgrade pip
        pip install --editable .
    - run: python -m unittest
